<!DOCTYPE html>
<html>
	<html lang="en" ng-app="pickominoGame" class='container-game'>
	<head>
		<meta charset="utf-8" />
		<title>Symfony/Angular Pickomino</title>
		{% block stylesheets %}
		<link rel="stylesheet" type="text/css" href="node_modules/bootstrap/dist/css/bootstrap.css">
		<link rel="stylesheet" type="text/css" href="node_modules/font-awesome/css/font-awesome.css">
		<link rel="stylesheet" href="{{ asset('bundles/pickomino/css/main.css') }}" type="text/css" />
		<link rel="stylesheet" href="{{ asset('bundles/pickomino/css/board.css') }}" type="text/css" />
		{% endblock %}
	</head>
    <body>
        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}
    </body>
</html>
