{% extends 'base.html.twig' %}

{% block body %}
    <div class="login">
    	{% block fos_user_content %}
    		{% trans_default_domain 'FOSUserBundle' %}
    	{% endblock %}
    </div>
    <br/>
    <game-login></game-login>
{% endblock %}