<div class='navbar navbar-default navbar-static-top' ng-controller='GameHeaderController as gameHeaderCtrl'>
	<div class='container'>
		<div class='navbar-header'>
			<a href='{{ url('homepage') }}' class='navbar-brand'>AngularJS Pickomino Game</a>
			
			<button type='button' class='navbar-toggle' data-toggle='collapse' data-target='.navbar-collapse'>
				<span class='sr-only'>Toggle navigation</span>
				<span class='icon-bar'></span>
				<span class='icon-bar'></span>
				<span class='icon-bar'></span>
			</button>
		</div>
		<ul class='nav navbar-nav navbar-right collapse navbar-collapse'>
			<li>
				<a href='goal.html' data-target="#" data-toggle='dropdown'>Goal <span class='caret'></span></a>
				<ul class='dropdown-menu'>
					<li>Collect the most worms!</li>
					<li class='divider'></li>
					<li>Tiles 21-24 = 1 worm</li>
					<li class='divider'></li>
					<li>Tiles 25-28 = 2 worms</li>
					<li class='divider'></li>
					<li>Tiles 29-32 = 3 worms</li>
					<li class='divider'></li>
					<li>Tiles 33-36 = 4 worms</li>
				</ul>
			</li>
			<li>
				<a href='turnsummary.html' data-target='#' data-toggle='dropdown'>Turn Summary <span class='caret'></span></a>
				<ul class='dropdown-menu'>
					<li>1. Roll Dice</li>
					<li class='divider'></li>
					<li>2. Freeze Dice Group</li>
					<li class='divider'></li>
					<li>3. Maybe Take Worm</li>
					<li class='divider'></li>
					<li>4. Repeat</li>
				</ul>
			</li>
			<li><a href='{{ url('rules') }}' target="_blank">Rules</a></li>
			<li ng-show='gameHeaderCtrl.name.firstname'><a href="{{ url('logout') }}">Welcome {% verbatim %}{{gameHeaderCtrl.name.firstname}}{% endverbatim %}, Log out</a></li>
		</ul>
	</div>
</div>