<div class = "login" ng-controller="LoginController as loginCtrl">
<a href='{{ url('fos_user_registration_register') }}' class = 'btn btn-primary inset'>Register</a>
<br/>
<br/>
<a href='{{ url('guest_registration') }}' class = 'btn btn-primary inset' name="Guest Login">Guest Login</a>
</div>