<div class = "login" ng-controller="LoginController as loginCtrl">
<a href='{{ url('fos_user_registration_register') }}' class = 'btn btn-primary inset'>Register</a>
<br/>
<br/>
<a ng-click="loginCtrl.guestLogin()" class ='btn btn-primary inset loginBtn' >Guest Login</a>
</div>