<div ng-controller="TutorialController as action">
	<!--div ng-controller="PlayerNotificationController as notice"-->
		
		<!--span uib-popover="Hello world!" popover-is-open="true" popover-trigger="none">
   			Static true popover!
		</span-->
		
		<game-grill-worms></game-grill-worms>
		
		<br/>

		<game-player-options></game-player-options>

		<br/>

		<game-active-dice></game-active-dice>

		<br/>

		<game-frozen-dice></game-frozen-dice>

		<br/>
		
		<game-player-worms></game-player-worms>
		
	<!--/div-->
</div>