{# app/Resources/views/rules/rules.html.twig #}

{% extends 'base.html.twig' %}

{% block body %}	
		
		<div class = "container-game inset">
			<div class = "rules inset">
				<h2>Goal: Collect the most worms!</h2>
				<h2>Step 1.  Roll the dice.</h2>

				<ul>
					<li>If this is your first roll this turn, go to Step 2.</li>
					<li class="redText">If the result does not include anything you have not already collected, your turn ends immediately.  Your newest tile from your stack (if any) is placed back on the grill.  If you return a worm, then the highest valued tile on the grill is removed, unless it is the tile just returned.  In a multiplayer game, the next player should start her/his turn at Step 1.</li>	
					<li>Otherwise, go to Step 2.</li>
				</ul>
				<br/>
				
				<h2>Step 2.  Select one number/symbol from the resulting dice roll and collect all matching dice, adding them to your collection.</h2>
				
				<ul>
					<li>If a worm is not among your collected dice, go to Step 1.</li>					
					<li>If the sum of your collected dice (worms are worth five) is less than the value of every face-up tile on the grill (and is not equal to any of the newest, leftmost tile of other players' stacks), go to Step 1.</li>				
					<br/>
					<li>Otherwise make a choice:</li>
					<ul>
						<li>Go to Step 1</li>
						<p>OR</p>
						<li>Take any worm from the grill of equal or less value than your frozen dice sum (or from the newest, leftmost of a player’s stack.  To take from a player, your sum must equal the value of the player’s tile exactly.)  To take from the table, you can take the matching value or any available value lower than your sum.  The taken tile is placed on top of your stack and your turn ends.</li>
					</ul>
					<li>If there ar	e more face-up tiles on the table, the next player should start his turn at Step 1.  If there are no more face-up tiles on the table, the game is over, and the winner is the player with the highest number of worms on his tiles (the tie-breaker is the highest value tile).</li>
				</ul>

			</div>
		</div>

{% endblock %}