{# app/Resources/views/main/pickomino.html.twig #}

{% extends 'base.html.twig' %}

{% block body %}	
	
	<div ng-controller="LoginController as loginCtrl" ng-init="loginCtrl.setUser('<?php echo $user_id ?>', '<?php echo $firstname ?>')">
	</div>
	
	<div>
		<game-header></game-header>
	
		<game-body></game-body>
	
		<common-footer></common-footer>
	</div>

{% endblock %}