{# app/Resources/views/main/pickomino.html.twig #}

{% extends 'base.html.twig' %}

{% block body %}	
	
	<div>
		<game-header></game-header>
		
		<div class = "login">
		{% block content %}{% endblock %}
		</div>
		
		<game-body></game-body>
	
		<common-footer></common-footer>
	</div>

{% endblock %}